.panel-title > a {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.table-information {
  background: #f8f8f8;
  text-align: center;
  border-radius: 10px;
}
.table-information tr td {
  box-shadow: 1px 1px 1px #d3d3d3, -1px -1px 1px #d3d3d3;
}
.table-information tr td p {
  font-size: 14px;
  text-transform: uppercase;
}
.table-information tr td p span {
  font-weight: bold;
  color: #317eac;
}
.span_title {
  font-weight: bold;
  color: #317eac;
  text-transform: uppercase;
}
#button_send_secretary {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  display: none;
}
.alert-info {
  display: none;
  text-align: center;
  height: 40px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  padding-top: 5px;
}
.alert-info span {
  vertical-align: middle;
}
