extends layout

block content
  h1 dashboard
  h2#username_h2 username: 
  h2 Verificar en secretaria
  form
    label Cedula: 
    input#identification(type="text", placeholder="cedula")
    input#verify_identification_button(type="submit" value="verificar y llenar datos")

  input#csrf_input(type="hidden" value="#{data.csrf}")
  h3
    a(href="/me/personal_information") Mi Informacion Personal
  h3  
    a(href="/me/professional_information") Mi Informacion profesional
  h3  
    a(href="/me/titles_information") Mis Titulos
  h3
    a#logout_doctor(href="#") Cerrar session

block js_up
  script.
    //- console.log(localStorage)
    //- if(localStorage.remember_me){
      
    //- }

block js
  script.
    $(document).on("ready", function(){
      var doctorAI = {};
      function getDoctorAccountInformationSuccess(data){
        doctorAI = data.doctorAccountInformation;
        $("#username_h2").html("Username: "+doctorAI.username);
      }

      function getDoctorAccountInformation (){
        $.ajax({
          url:"/api/v1/doctors/me/account_information",
          headers: {
            "accessToken": localStorage.accessToken
          },
          success: getDoctorAccountInformationSuccess
        });
      }
      
      function logoutDoctorSuccess(data, textStatus, jqXHR){
        console.log(data);
        if(data){
          if(data.error){
            console.log(error);
          }else{
            localStorage.removeItem("accessToken");
            localStorage.removeItem("refreshToken");
            localStorage.removeItem("tokenType");
            localStorage.removeItem("expirationDate");
            window.location.replace("/");
          }
        }
      }
      
      $("#logout_doctor").on('click', function(e){
        e.preventDefault();
        $.ajax({
          type: "DELETE",
          url:"/login/doctors",
          headers: {
            "csrfToken": $("#csrf_input").val()
          },
          success: logoutDoctorSuccess
        });
      }); // End of logout doctor on click event

      //- $("#personal_information_link").on("click", function(e){
      //-   e.preventDefault();
      //-   window.location.replace("/"+doctorAI.username+"/personal_information");
      //- });

      $("#verify_identification_button").on("click", function(e){
        e.preventDefault();
        console.log("click click click");
        console.log($("#identification").val());
        e.preventDefault();
        $.ajax({
          type: "GET",
          url:"/secretary/verify/"+$("#identification").val(),
          headers: {
            "csrfToken": $("#csrf_input").val()
          },
          success: function(data){
            console.log(data);
            console.log(data.registrado);
            if(data.registrado == "no"){
              alert("Usuario no registrado en la secretaria");
            }else if(data.registrado == "si"){
              alert("El usuario esta registrado, se procedera a guardar los datos provenietes de la secretaria de salud");
            }else{
              alert("hubo un error xp");
            }
          }
        });
      });
      console.log(localStorage)
      getDoctorAccountInformation();

    }); // End of document on ready event