extends layout

block content
  h1 dashboard
  h2 username: #{data.username}
  h2 Verificar en secretaria
  form
    label Cedula
    input(type="text", placeholder="cedula")
    input(type="submit" value="verificar")

  input#csrf_input(type="text" value="#{data.csrf}")
  h3
    a#personal_information_link(href="#") Datos Personales
  h3
    a#logout_doctor(href="#") Cerrar session

block js_up
  script.
    //- console.log(localStorage)
    //- if(localStorage.remember_me){
      
    //- }

block js
  script.
    $(document).on("ready", function(){
      var doctorAI = {};
      function getDoctorAccountInformation (username){
        $.ajax({
          url:"/api/v1/doctors/me",
          headers: {
            "accessToken": localStorage.accessToken
          },
          success: function(data){
            console.log(data);
            doctorAI = data.doctorAccountInformation;
            //- if (data.userdataDoctor){
            //-   console.log(data.userdataDoctor):
            //- }
          }
        });
      }
      
      function logoutDoctorSuccess(data, textStatus, jqXHR){
        console.log(data);
        if(data){
          if(data.error){
            console.log(error);
          }else{
            localStorage.removeItem("accessToken");
            localStorage.removeItem("refreshToken");
            localStorage.removeItem("tokenType");
            localStorage.removeItem("expirationDate");
            window.location.replace("/");
          }
        }
      }
      
      $("#logout_doctor").on('click', function(e){
        e.preventDefault();
        $.ajax({
          type: "DELETE",
          url:"/login/doctors",
          headers: {
            "csrfToken": $("#csrf_input").val()
          },
          success: logoutDoctorSuccess
        });
      }); // End of logout doctor on click event

      $("#personal_information_link").on("click", function(e){
        e.preventDefault();
        window.location.replace("/"+doctorAI.username+"/personal_information");
      });


      console.log(localStorage)
      getDoctorAccountInformation();

    }); // End of document on ready event