extends layout

block content
  h1 dashboard
  input#crfs_input(type="text" value="#{data.crfs}")
  a#logout_doctor(href="#") Cerrar session

block js_up
  script.
    //- console.log(localStorage)
    //- if(localStorage.remember_me){
      
    //- }

block js
  script.
    $(document).on("ready", function(){
      function logoutDoctorSuccess(data, textStatus, jqXHR){
        console.log(data);
        if(data){
          if(data.error){
            if(data.error.error=="WrongEmailOrPassword"){
              alert("El email o contraseña son incorrectos");
            }
          }else{
            window.location.replace("/");
          }
        }
      }
      
      $("#logout_doctor").on('click', function(e){
        e.preventDefault();
        $.ajax({
          type: "DELETE",
          url:"/login/doctors",
          headers: {
            "crfs": $("#crfs_input").val()
          },
          success: logoutDoctorSuccess
        });
      }); // End of signup doctor form button on click event
    }); // End of document on ready event