extends layout

block css
  link(rel="stylesheet", href='/stylesheets/less/home/general.css')

block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') CONSULTING
  #bs-example-navbar-collapse-1.navbar-collapse.collapse
    ul.nav.navbar-nav
      li.active
        a() 
          i.fa.fa-bars
          |  Dashboard
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-info-circle
          |   Mi informacion
          b.caret
        ul.dropdown-menu
          li
            a(href="/me/personal_information")
              i.fa.fa-star
              |   Personal
          li
            a(href="/me/professional_information")
              i.fa.fa-star
              |  Profesional
          li
            a(href="/me/titles_information")
              i.fa.fa-star
              |  Titulos
          li
            a(href="/me/register_end")
              i.fa.fa-star
              |  finalizar registro
      li
        a#logout_doctor(href="#")
          i.fa.fa-sign-out
          |  Cerrar session

block content
  .container.general-content
    .row
      .col-lg-8
        .page-header.title-header
          h2#username_h2 username:

        input#csrf_input(type="hidden", value="#{data.csrf}")
        div
          table#my_calendar
            caption Calendario   
            thead
              tr(matriz_row=0)
                th Lunes 
                th Martes  
                th Miercoles 
                th Jueves 
                th Viernes 
                th Sabado 
                th Domingo
            tbody#my_calendar_tbody 
           

block js_up
  script.
    //- console.log(localStorage)
    //- if(localStorage.remember_me){
      
    //- }

block js
  script.
    $(document).on("ready", function(){
    var i = 8;
      for(i;i<18;i++){
        var cad = "<tr matriz_row="+i+">"+
        "<td matriz_col=1><div class='half_hour_1'><div class='note'>Aqui va la cita</div><button class='first_half_hour'>"+i+":00</button></div><div class='half_hour_2'><div class='note'>Aqui va la cita</div><button class='second_half_hour'>"+i+":30</button></div></td>"+
        "<td matriz_col=2> <div class='half_hour_1'><div class='note'>Aqui va la cita</div><button class='first_half_hour'>"+i+":00</button></div><div class='half_hour_2'><div class='note'>Aqui va la cita</div><button class='second_half_hour'>"+i+":30</button></div></td>"+
        "<td matriz_col=3> <div class='half_hour_1'><div class='note'>Aqui va la cita</div><button class='first_half_hour'>"+i+":00</button></div><div class='half_hour_2'><div class='note'>Aqui va la cita</div><button class='second_half_hour'>"+i+":30</button></div></td>"+
        "<td matriz_col=4> <div class='half_hour_1'><div class='note'>Aqui va la cita</div><button class='first_half_hour'>"+i+":00</button></div><div class='half_hour_2'><div class='note'>Aqui va la cita</div><button class='second_half_hour'>"+i+":30</button></div></td>"+
        "<td matriz_col=5> <div class='half_hour_1'><div class='note'>Aqui va la cita</div><button class='first_half_hour'>"+i+":00</button></div><div class='half_hour_2'><div class='note'>Aqui va la cita</div><button class='second_half_hour'>"+i+":30</button></div></td>"+
        "<td matriz_col=6> <div class='half_hour_1'><div class='note'>Aqui va la cita</div><button class='first_half_hour'>"+i+":00</button></div><div class='half_hour_2'><div class='note'>Aqui va la cita</div><button class='second_half_hour'>"+i+":30</button></div></td>"+
        "<td matriz_col=7> <div class='half_hour_1'><div class='note'>Aqui va la cita</div><button class='first_half_hour'>"+i+":00</button></div><div class='half_hour_2'><div class='note'>Aqui va la cita</div><button class='second_half_hour'>"+i+":30</button></div></td>"+
        "</tr>";
        //- console.log(cad);
        $("#my_calendar_tbody").append(cad);
      }

      $("#my_calendar").on("click", "td", function(e){
        //- alert("click");
      });

      $("#my_calendar").on("click", "button", function(e){
        //- alert("click");
        //- var row = $(this).parent().attr("matriz_row");
        //- var col = $(this).attr("matriz_col");
        //console.log($(this).attr("class"));
        var col = $(this).parent().parent().attr("matriz_col");
        //- var row = $(this).parent().parent().attr("matriz_row");
        var list = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"];
        var hour = $(this).html();
        console.log(list[col-1]+" "+hour);
      });

      function getDoctorAccountInformationSuccess(data){
        var doctorAI = {};
        doctorAI = data.doctorAccountInformation;
        $("#username_h2").html("Username: "+doctorAI.username);
      }

      function getDoctorAccountInformation (){
        $.ajax({
          url:"/api/v1/doctors/me/account_information",
          headers: {
            "accessToken": localStorage.accessToken
          },
          success: getDoctorAccountInformationSuccess
        });
      }
      
      function logoutDoctorSuccess(data, textStatus, jqXHR){
        console.log(data);
        if(data){
          if(data.error){
            console.log(error);
          }else{
            localStorage.removeItem("accessToken");
            localStorage.removeItem("refreshToken");
            localStorage.removeItem("tokenType");
            localStorage.removeItem("expirationDate");
            window.location.replace("/");
          }
        }
      }
      
      $("#logout_doctor").on('click', function(e){
        e.preventDefault();
        $.ajax({
          type: "DELETE",
          url:"/login/doctors",
          headers: {
            "csrfToken": $("#csrf_input").val()
          },
          success: logoutDoctorSuccess
        });
      }); // End of logout doctor on click event

      //- $("#personal_information_link").on("click", function(e){
      //-   e.preventDefault();
      //-   window.location.replace("/"+doctorAI.username+"/personal_information");
      //- });

      $("#verify_identification_button").on("click", function(e){
        e.preventDefault();
        console.log("click click click");
        console.log($("#identification").val());
        e.preventDefault();
        $.ajax({
          type: "GET",
          url:"/secretary/verify/"+$("#identification").val(),
          headers: {
            "csrfToken": $("#csrf_input").val()
          },
          success: function(data){
            console.log(data);
            console.log(data.registrado);
            if(data.registrado == "no"){
              alert("Usuario no registrado en la secretaria");
              $("#datos_de_secretaria").html("<h3>Datos obtenido de la secretaria</h3>"+JSON.stringify(data));
            }else if(data.registrado == "si"){
              $("#datos_de_secretaria").html("<h3>Datos obtenido de la secretaria</h3>"+JSON.stringify(data));
              alert("El usuario esta registrado, se procedera a guardar los datos provenietes de la secretaria de salud");
            }else{
              alert("hubo un error xp");
            }
          }
        });
      });
      console.log(localStorage)
      getDoctorAccountInformation();


    }); // End of document on ready event