extends layout

block css
  link(rel="stylesheet", href='/stylesheets/less/calendar/calendar.css')

block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') CONSULTING
  #bs-example-navbar-collapse-1.navbar-collapse.collapse
    ul.nav.navbar-nav
      li.active
        a() 
          i.fa.fa-bars
          |  Dashboard
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-info-circle
          |   Mi informacion
          b.caret
        ul.dropdown-menu
          li
            a(href="/me/personal_information")
              i.fa.fa-star
              |   Personal
          li
            a(href="/me/professional_information")
              i.fa.fa-star
              |  Profesional
          li
            a(href="/me/titles_information")
              i.fa.fa-star
              |  Titulos
          li
            a(href="/me/register_end")
              i.fa.fa-star
              |  finalizar registro
      li
        a#logout_doctor(href="#")
          i.fa.fa-sign-out
          |  Cerrar session
      li
        a#logout_doctor(href="#")
          i.fa.fa-sign-out
          |  Cerrar session

block content
  .container.general-content
    .row
      .col-lg-12
      h2#username_h2 Doctor:
    .row
      .col-lg-12
        form.form-inline(role="form")
          div.form-group
            label Año: 
            select.form-control(id="year")
              option(value=-1) Seleccione un año
              option(value=2010) 2010
              option(value=2011) 2011
              option(value=2012) 2012
              option(value=2013) 2013
              option(value=2014) 2014
          div.form-group
            label Mes:
            select.form-control(id="month")
              option(value=-1) Seleccione un mes
              option(value=1) Enero
              option(value=2) Febrero
              option(value=3) Marzo
              option(value=4) Abril
              option(value=5) Mayo
              option(value=6) Junio
              option(value=7) Julio
              option(value=8) Agosto
              option(value=9) Septiembre
              option(value=10) Octubre
              option(value=11) Noviembre
              option(value=12) Diciembre
          div.form-group
            label Semana
            select.form-control(id="weeks")
              option(value=-1) Seleccione una semana
    .row
      .col-lg-12
        input#csrf_input(type="hidden", value="#{data.csrf}")
        div#content-table
          table#my_calendar.table
            caption#calendar_caption Calendario   
            thead#my_calendar_thead
            tbody#my_calendar_tbody 
           

block js_up
  script.
    //- console.log(localStorage)
    //- if(localStorage.remember_me){
      
    //- }

block js
  script(src="/socket.io/socket.io.js")
  script.
    //- socket.on('calendarUpdated', function (data) {
    //-   console.log(data);
    //- });


    $(document).on("ready", function(){
      var socket = io.connect('http://localhost:3000');
      socket.on('calendarUpdated', function (data) {
        console.log(data);
        var week = getWeeksOfAMonthOfAYear($("select#month").val(), $("select#year").val())[$("select#weeks").val()-1];
        loadWeekCalendar($("select#year").val(), $("select#month").val(), week);
      });
      //- $("#socket").on("click", function(){
      //-   socket.emit('calendarUpdated', { data: 'pedro' });
      //-   })
      function loadWeekCalendar(year, month, week){
        //- console.log(year+"/"+month+"/Semana:"+week);
        var days = new Object(); 
        //- console.log(week.days.length-1);
        //- console.log(week[week.days.length-1]);
        $.ajax({
          url: "/api/v1/doctors/me/spacesDateForAppointments?year="+year+"&month="+month+"&day_start="+week.days[0].number+"&day_end="+week.days[week.days.length-1].number,
          type: "GET",
          headers: {
            "accessToken": localStorage.accessToken
          },
          success: function(data) {
            //- console.log(data);
            month = month-1;
              //- console.log(month);
              //- console.log(year);
            for(var i=0; i<week.days.length; i++){
              //- console.log(week.days);
              //- alert( "Load was performed." );
              if(week.days[i].name == "Domingo"){
                days.domingo = week.days[i];
              }else if(week.days[i].name == "Lunes"){
                days.lunes = week.days[i];
              }else if(week.days[i].name == "Martes"){
                days.martes = week.days[i];
                
              }else if(week.days[i].name == "Miercoles"){
                days.miercoles = week.days[i];
              }else if(week.days[i].name == "Jueves"){
                days.jueves = week.days[i];
              }else if(week.days[i].name == "Viernes"){
                days.viernes = week.days[i];
              }else if(week.days[i].name == "Sabado"){
                days.sabado = week.days[i];
              }
            }

            var cal ="";

            var thead = "";
            thead += "<th>Domingo "+ year+"/"+month+"/"+days.domingo.number+"</th>";
            thead += "<th>Lunes "+ year+"/"+month+"/"+days.lunes.number+"</th>";
            thead += "<th>Martes "+ year+"/"+month+"/"+days.martes.number+"</th>";
            thead += "<th>Miercoles "+ year+"/"+month+"/"+days.miercoles.number+"</th>";
            thead += "<th>Jueves "+ year+"/"+month+"/"+days.jueves.number+"</th>";
            thead += "<th>Viernes "+ year+"/"+month+"/"+days.viernes.number+"</th>";
            thead += "<th>Sabado "+ year+"/"+month+"/"+days.sabado.number+"</th>";
            $("#my_calendar_thead").html(thead);

            for(var i = 8;i<18;i++){
              var halfHour1 ="";
              var halfHour2 ="";
              var domingo = "<td></td>";
              if(days.domingo != null){
                var today = new Date();
                var now = new Date();
                var thisDate = new Date(year, month, days.domingo.number, i);
                if(thisDate > now){
                  if(thereIsSpaceForApointment(i, days.domingo.number, data.dates)){
                    if(therIsAnAppointment(i,  days.domingo.number, data.dates)){
                      halfHour1 = "<div class='half_hour_appointment'><div class='note bg-info'><p>Ya alguien aparto una cita a esta hora.</p><p><button class='getAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.domingo.number+" hour="+i+" minutes=0>Ver cita</button></p></div></div>";
                    }else{
                      halfHour1 = "<div class='half_hour_aparted'><div class='note bg-info'><p>Usted ha asignado este espacio para una cita.</p><p><button class='delSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.domingo.number+" hour="+i+" minutes=0> Cancelar "+i+":00</button></p></div></div>";
                    }
                  }else{
                    halfHour1 = "<div class='half_hour_not_aparted'><div class='note'></div><button class='addSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.domingo.number+" hour="+i+" minutes=0>Apartar "+i+":00</button></div>";
                  }
                }else{
                  halfHour1 = "<div class='half-hour'><div class='note'><p>"+i+":00</p><p>(Hora vencida)</p> </div></div>";
                }
                var thisDate = new Date(year, month, days.domingo.number, i,30);
                if(thisDate > now){
                  if(thereIsSpaceForApointment(i+0.3, days.domingo.number, data.dates)){
                    if(therIsAnAppointment(i+0.3,  days.domingo.number, data.dates)){
                      halfHour2 = "<div class='half_hour_appointment'><div class='note bg-info'><p>Ya alguien aparto una cita a esta hora.</p><p>Hora: "+i+":30</p></div></div>";
                    }else{
                      halfHour2 = "<div class='half_hour_aparted'><div class='note bg-info'><p>Usted ha asignado este espacio para una cita.</p><p><button class='delSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.domingo.number+" hour="+i+" minutes=30> Cancelar "+i+":30</button></p></div></div>";
                    }
                  }else{
                    halfHour2 = "<div class='half_hour_not_aparted'><div class='note'></div><button class='addSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.domingo.number+" hour="+i+" minutes=30>Apartar "+i+":30</button></div>"; 
                  }
                }else{
                  halfHour2 = "<div class='half-hour'><div class='note'><p>"+i+":30</p><p>(Hora vencida)</p> </div></div>";
                }
                domingo = "<td>"+halfHour1+halfHour2+"</td>";
              }

              var lunes = "<td></td>";
              if(days.lunes != null){
                var today = new Date();
                var now = new Date();
                var thisDate = new Date(year, month, days.lunes.number, i);
                if(thisDate > now){
                  if(thereIsSpaceForApointment(i, days.lunes.number, data.dates)){
                    if(therIsAnAppointment(i,  days.lunes.number, data.dates)){
                      halfHour1 = "<div class='half_hour_appointment'><div class='note bg-info'><p>Ya alguien aparto una cita a esta hora.</p><p><button class='getAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.lunes.number+" hour="+i+" minutes=0>Ver cita</button></p></div></div>";
                    }else{
                      halfHour1 = "<div class='half_hour_aparted'><div class='note bg-info'><p>Usted ha asignado este espacio para una cita.</p><p><button class='delSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.lunes.number+" hour="+i+" minutes=0> Cancelar "+i+":00</button></p></div></div>";
                    }
                  }else{
                    halfHour1 = "<div class='half_hour_not_aparted'><div class='note'></div><button class='addSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.lunes.number+" hour="+i+" minutes=0>Apartar "+i+":00</button></div>";
                  }
                }else{
                  halfHour1 = "<div class='half-hour'><div class='note'><p>"+i+":00</p><p>(Hora vencida)</p> </div></div>";
                }
                var thisDate = new Date(year, month, days.lunes.number, i,30);
                if(thisDate > now){
                  if(thereIsSpaceForApointment(i+0.3, days.lunes.number, data.dates)){
                    if(therIsAnAppointment(i+0.3,  days.lunes.number, data.dates)){
                      halfHour2 = "<div class='half_hour_appointment'><div class='note bg-info'><p>Ya alguien aparto una cita a esta hora.</p><p>Hora: "+i+":30</p></div></div>";
                    }else{
                      halfHour2 = "<div class='half_hour_aparted'><div class='note bg-info'><p>Usted ha asignado este espacio para una cita.</p><p><button class='delSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.lunes.number+" hour="+i+" minutes=30> Cancelar "+i+":30</button></p></div></div>";
                    }
                  }else{
                    halfHour2 = "<div class='half_hour_not_aparted'><div class='note'></div><button class='addSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.lunes.number+" hour="+i+" minutes=30>Apartar "+i+":30</button></div>"; 
                  }
                }else{
                  halfHour2 = "<div class='half-hour'><div class='note'><p>"+i+":30</p><p>(Hora vencida)</p> </div></div>";
                }
                lunes = "<td>"+halfHour1+halfHour2+"</td>";
              }

              var martes = "<td></td>";
              if(days.martes != null){
                var today = new Date();
                var now = new Date();
                var thisDate = new Date(year, month, days.martes.number, i);
                if(thisDate > now){
                  if(thereIsSpaceForApointment(i, days.martes.number, data.dates)){
                    if(therIsAnAppointment(i,  days.martes.number, data.dates)){
                      halfHour1 = "<div class='half_hour_appointment'><div class='note bg-info'><p>Ya alguien aparto una cita a esta hora.</p><p><button class='getAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.martes.number+" hour="+i+" minutes=0>Ver cita</button></p></div></div>";
                    }else{
                      halfHour1 = "<div class='half_hour_aparted'><div class='note bg-info'><p>Usted ha asignado este espacio para una cita.</p><p><button class='delSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.martes.number+" hour="+i+" minutes=0> Cancelar "+i+":00</button></p></div></div>";
                    }
                  }else{
                    halfHour1 = "<div class='half_hour_not_aparted'><div class='note'></div><button class='addSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.martes.number+" hour="+i+" minutes=0>Apartar "+i+":00</button></div>";
                  }
                }else{
                  halfHour1 = "<div class='half-hour'><div class='note'><p>"+i+":00</p><p>(Hora vencida)</p> </div></div>";
                }
                var thisDate = new Date(year, month, days.martes.number, i,30);
                if(thisDate > now){
                  if(thereIsSpaceForApointment(i+0.3, days.martes.number, data.dates)){
                    if(therIsAnAppointment(i+0.3,  days.martes.number, data.dates)){
                      halfHour2 = "<div class='half_hour_appointment'><div class='note bg-info'><p>Ya alguien aparto una cita a esta hora.</p><p>Hora: "+i+":30</p></div></div>";
                    }else{
                      halfHour2 = "<div class='half_hour_aparted'><div class='note bg-info'><p>Usted ha asignado este espacio para una cita.</p><p><button class='delSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.martes.number+" hour="+i+" minutes=30> Cancelar "+i+":30</button></p></div></div>";
                    }
                  }else{
                    halfHour2 = "<div class='half_hour_not_aparted'><div class='note'></div><button class='addSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.martes.number+" hour="+i+" minutes=30>Apartar "+i+":30</button></div>"; 
                  }
                }else{
                  halfHour2 = "<div class='half-hour'><div class='note'><p>"+i+":30</p><p>(Hora vencida)</p> </div></div>";
                }
                martes = "<td>"+halfHour1+halfHour2+"</td>";
              }

              var miercoles = "<td></td>";
              if(days.miercoles != null){
                var today = new Date();
                var now = new Date();
                var thisDate = new Date(year, month, days.miercoles.number, i);
                if(thisDate > now){
                  if(thereIsSpaceForApointment(i, days.miercoles.number, data.dates)){
                    if(therIsAnAppointment(i,  days.miercoles.number, data.dates)){
                      halfHour1 = "<div class='half_hour_appointment'><div class='note bg-info'><p>Ya alguien aparto una cita a esta hora.</p><p><button class='getAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.miercoles.number+" hour="+i+" minutes=0>Ver cita</button></p></div></div>";
                    }else{
                      halfHour1 = "<div class='half_hour_aparted'><div class='note bg-info'><p>Usted ha asignado este espacio para una cita.</p><p><button class='delSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.miercoles.number+" hour="+i+" minutes=0> Cancelar "+i+":00</button></p></div></div>";
                    }
                  }else{
                    halfHour1 = "<div class='half_hour_not_aparted'><div class='note'></div><button class='addSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.miercoles.number+" hour="+i+" minutes=0>Apartar "+i+":00</button></div>";
                  }
                }else{
                  halfHour1 = "<div class='half-hour'><div class='note'><p>"+i+":00</p><p>(Hora vencida)</p> </div></div>";
                }
                var thisDate = new Date(year, month, days.miercoles.number, i,30);
                if(thisDate > now){
                  if(thereIsSpaceForApointment(i+0.3, days.miercoles.number, data.dates)){
                    if(therIsAnAppointment(i+0.3,  days.miercoles.number, data.dates)){
                      halfHour2 = "<div class='half_hour_appointment'><div class='note bg-info'><p>Ya alguien aparto una cita a esta hora.</p><p>Hora: "+i+":30</p></div></div>";
                    }else{
                      halfHour2 = "<div class='half_hour_aparted'><div class='note bg-info'><p>Usted ha asignado este espacio para una cita.</p><p><button class='delSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.miercoles.number+" hour="+i+" minutes=30> Cancelar "+i+":30</button></p></div></div>";
                    }
                  }else{
                    halfHour2 = "<div class='half_hour_not_aparted'><div class='note'></div><button class='addSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.miercoles.number+" hour="+i+" minutes=30>Apartar "+i+":30</button></div>"; 
                  }
                }else{
                  halfHour2 = "<div class='half-hour'><div class='note'><p>"+i+":30</p><p>(Hora vencida)</p> </div></div>";
                }
                miercoles = "<td>"+halfHour1+halfHour2+"</td>";
              }

              var jueves = "<td></td>";
              if(days.jueves != null){
                var today = new Date();
                var now = new Date();
                var thisDate = new Date(year, month, days.jueves.number, i);
                if(thisDate > now){
                  if(thereIsSpaceForApointment(i, days.jueves.number, data.dates)){
                    if(therIsAnAppointment(i,  days.jueves.number, data.dates)){
                      halfHour1 = "<div class='half_hour_appointment'><div class='note bg-info'><p>Ya alguien aparto una cita a esta hora.</p><p><button class='getAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.jueves.number+" hour="+i+" minutes=0>Ver cita</button></p></div></div>";
                    }else{
                      halfHour1 = "<div class='half_hour_aparted'><div class='note bg-info'><p>Usted ha asignado este espacio para una cita.</p><p><button class='delSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.jueves.number+" hour="+i+" minutes=0> Cancelar "+i+":00</button></p></div></div>";
                    }
                  }else{
                    halfHour1 = "<div class='half_hour_not_aparted'><div class='note'></div><button class='addSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.jueves.number+" hour="+i+" minutes=0>Apartar "+i+":00</button></div>";
                  }
                }else{
                  halfHour1 = "<div class='half-hour'><div class='note'><p>"+i+":00</p><p>(Hora vencida)</p> </div></div>";
                }
                var thisDate = new Date(year, month, days.jueves.number, i,30);
                if(thisDate > now){
                  if(thereIsSpaceForApointment(i+0.3, days.jueves.number, data.dates)){
                    if(therIsAnAppointment(i+0.3,  days.jueves.number, data.dates)){
                      halfHour2 = "<div class='half_hour_appointment'><div class='note bg-info'><p>Ya alguien aparto una cita a esta hora.</p><p>Hora: "+i+":30</p></div></div>";
                    }else{
                      halfHour2 = "<div class='half_hour_aparted'><div class='note bg-info'><p>Usted ha asignado este espacio para una cita.</p><p><button class='delSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.jueves.number+" hour="+i+" minutes=30> Cancelar "+i+":30</button></p></div></div>";
                    }
                  }else{
                    halfHour2 = "<div class='half_hour_not_aparted'><div class='note'></div><button class='addSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.jueves.number+" hour="+i+" minutes=30>Apartar "+i+":30</button></div>"; 
                  }
                }else{
                  halfHour2 = "<div class='half-hour'><div class='note'><p>"+i+":30</p><p>(Hora vencida)</p> </div></div>";
                }
                jueves = "<td>"+halfHour1+halfHour2+"</td>";
              }

              var viernes = "<td></td>";
              if(days.viernes != null){
                var today = new Date();
                var now = new Date();
                var thisDate = new Date(year, month, days.viernes.number, i);
                if(thisDate > now){
                  if(thereIsSpaceForApointment(i, days.viernes.number, data.dates)){
                    if(therIsAnAppointment(i,  days.viernes.number, data.dates)){
                      halfHour1 = "<div class='half_hour_appointment'><div class='note bg-info'><p>Ya alguien aparto una cita a esta hora.</p><p><button class='getAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.viernes.number+" hour="+i+" minutes=0>Ver cita</button></p></div></div>";
                    }else{
                      halfHour1 = "<div class='half_hour_aparted'><div class='note bg-info'><p>Usted ha asignado este espacio para una cita.</p><p><button class='delSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.viernes.number+" hour="+i+" minutes=0> Cancelar "+i+":00</button></p></div></div>";
                    }
                  }else{
                    halfHour1 = "<div class='half_hour_not_aparted'><div class='note'></div><button class='addSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.viernes.number+" hour="+i+" minutes=0>Apartar "+i+":00</button></div>";
                  }
                }else{
                  halfHour1 = "<div class='half-hour'><div class='note'><p>"+i+":00</p><p>(Hora vencida)</p> </div></div>";
                }
                var thisDate = new Date(year, month, days.viernes.number, i,30);
                if(thisDate > now){
                  if(thereIsSpaceForApointment(i+0.3, days.viernes.number, data.dates)){
                    if(therIsAnAppointment(i+0.3,  days.viernes.number, data.dates)){
                      halfHour2 = "<div class='half_hour_appointment'><div class='note bg-info'><p>Ya alguien aparto una cita a esta hora.</p><p>Hora: "+i+":30</p></div></div>";
                    }else{
                      halfHour2 = "<div class='half_hour_aparted'><div class='note bg-info'><p>Usted ha asignado este espacio para una cita.</p><p><button class='delSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.viernes.number+" hour="+i+" minutes=30> Cancelar "+i+":30</button></p></div></div>";
                    }
                  }else{
                    halfHour2 = "<div class='half_hour_not_aparted'><div class='note'></div><button class='addSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.viernes.number+" hour="+i+" minutes=30>Apartar "+i+":30</button></div>"; 
                  }
                }else{
                  halfHour2 = "<div class='half-hour'><div class='note'><p>"+i+":30</p><p>(Hora vencida)</p> </div></div>";
                }
                viernes = "<td>"+halfHour1+halfHour2+"</td>";
              }

              var sabado = "<td></td>";
              if(days.sabado != null){
                var today = new Date();
                var now = new Date();
                var thisDate = new Date(year, month, days.sabado.number, i);
                if(thisDate > now){
                  if(thereIsSpaceForApointment(i, days.sabado.number, data.dates)){
                    if(therIsAnAppointment(i,  days.sabado.number, data.dates)){
                      halfHour1 = "<div class='half_hour_appointment'><div class='note bg-info'><p>Ya alguien aparto una cita a esta hora.</p><p><button class='getAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.sabado.number+" hour="+i+" minutes=0>Ver cita</button></p></div></div>";
                    }else{
                      halfHour1 = "<div class='half_hour_aparted'><div class='note bg-info'><p>Usted ha asignado este espacio para una cita.</p><p><button class='delSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.sabado.number+" hour="+i+" minutes=0> Cancelar "+i+":00</button></p></div></div>";
                    }
                  }else{
                    halfHour1 = "<div class='half_hour_not_aparted'><div class='note'></div><button class='addSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.sabado.number+" hour="+i+" minutes=0>Apartar "+i+":00</button></div>";
                  }
                }else{
                  halfHour1 = "<div class='half-hour'><div class='note'><p>"+i+":00</p><p>(Hora vencida)</p> </div></div>";
                }
                var thisDate = new Date(year, month, days.sabado.number, i,30);
                if(thisDate > now){
                  if(thereIsSpaceForApointment(i+0.3, days.sabado.number, data.dates)){
                    if(therIsAnAppointment(i+0.3,  days.sabado.number, data.dates)){
                      halfHour2 = "<div class='half_hour_appointment'><div class='note bg-info'><p>Ya alguien aparto una cita a esta hora.</p><p>Hora: "+i+":30</p></div></div>";
                    }else{
                      halfHour2 = "<div class='half_hour_aparted'><div class='note bg-info'><p>Usted ha asignado este espacio para una cita.</p><p><button class='delSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.sabado.number+" hour="+i+" minutes=30> Cancelar "+i+":30</button></p></div></div>";
                    }
                  }else{
                    halfHour2 = "<div class='half_hour_not_aparted'><div class='note'></div><button class='addSpaceForAppointmentButton' class='half_hour_button btn btn-primary' year="+year+" month="+(month+1)+" day="+days.sabado.number+" hour="+i+" minutes=30>Apartar "+i+":30</button></div>"; 
                  }
                }else{
                  halfHour2 = "<div class='half-hour'><div class='note'><p>"+i+":30</p><p>(Hora vencida)</p> </div></div>";
                }
                sabado = "<td>"+halfHour1+halfHour2+"</td>";
              }

              var cad = "<tr>"+domingo+lunes+martes+miercoles+jueves+viernes+sabado+"</tr>";
              //- martes+miercoles+jueves+viernes+sabado+
              //- console.log(cad);
              cal+=cad;
            }
            //- console.log("termine el segundo for");

            $("#calendar_caption").html("Calendario de la semana número "+$("select#weeks").val()+" de "+$("select#month option:selected").text()+" de "+year);
            $("#my_calendar_tbody").html(cal);
          }
        });
      }

      function loadWeekOfToday(){
        var today = new Date();
        var year = today.getFullYear();
        var month = today.getMonth();
        month+=1;
        console.log("Mes:"+month);
        var weeks = getWeeksOfAMonthOfAYear(month, year);
        var day = today.getDate();
        var week;
        var weekDay = 1;
        for(var i = 0; i<weeks.length; i++){
          for(var j=0; j<weeks[i].days.length; j++){
            if(weeks[i].days[j].number == day){
              week = weeks[i];
              weekDay = i+1;
              break;
            }
          }
        }
        $("select#year").val(year);
        $("select#month").val(month);
        loadWeekSelect(weeks)
        console.log("semana:"+weekDay);
        $("select#weeks").val(weekDay);
        loadWeekCalendar(year, month, week);
      }

      loadWeekOfToday();

      function getWeeksOfAMonthOfAYear(month, year){
        month--;
        //- console.log("Año: "+year);
        //- console.log("Mes: "+month);
        nd = new Date(year, month+1, 0).getDate();
        //- console.log(nd);
        var weeks = [];
        var days = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"];
        var nw = 1;
        var daysOfWeek = new Array();
        for(var i=1;i<=nd;i++){
          var d = new Date(year, month, i);
          //- console.log(d);
          var day = {};
          day.number = i;
          day.name = days[d.getDay()];
          //- console.log("Agregando dia: "+day.name+" "+day.number);
          daysOfWeek.push(day);
          if(d.getDay() == 6 || i==nd){
            var week = {
              number: nw,
              days: daysOfWeek
            };
            //- console.log("agregado semana "+nw);
            weeks.push(week);
            nw++;
            daysOfWeek = new Array();
          }
        }
        return weeks; 
      }

      function loadWeekSelect(weeks){
        console.log(weeks.length);
        var str = "<option value='-1'>Seleccione una semana</option>";
        for(var i=0; i<weeks.length; i++){
          str+="<option value='"+(i+1)+"'>"+(i+1)+"</option>";
        }
        $("select#weeks").html(str);
      }

      $("select#year").on("change", function(e){
        $("select#month").val(-1);
      });

      $("select#month").on("change", function(e){
        $("select#week").val(-1);
        var year = $("select#year").val();
        var month = $(this).val();
        var weeks = getWeeksOfAMonthOfAYear(month, year);
        loadWeekSelect(weeks);
      }); 

      function thereIsSpaceForApointment(time_start, day, dates){
        //- console.log(day);
        //- console.log("llamo al isApointment"); 
        var is = false;
        for(var i=0; i<dates.length; i++){
          if(dates[i].date.day == day && dates[i].time.start == time_start){
            //- console.log("######################");
            //- console.log("Se encontro una fecha");
            //- console.log(dates[i].date.day);
            //- console.log(day);
            //- console.log(dates[i].time.start);
            //- console.log(time_start);
            is = true;
            //- console.log("Esta disonible:" + is);
            break;
          }
        }
        return is;
      }

      function therIsAnAppointment(time_start, day, dates){
        var is = false;
        for(var i=0; i<dates.length; i++){
          if(dates[i].date.day == day && dates[i].time.start == time_start){
            is = dates[i].isAvailable;
            //- console.log("Se encontro una cita");
            //- console.log(dates[i].date.day);
            //- console.log(day);
            //- console.log(dates[i].time.start);
            //- console.log(time_start);
            //- console.log("Esta disonible:" + is);
            break;
          }
        }
        return !is;
      }

      $("select#weeks").on("change", function(e){
        //- $("select#month").val(-1);
        //- console.log("Se llamo aqui");
        var month = $("select#month").val();  
        var year = $("select#year").val();
        //- console.log(JSON.stringify(getWeeksOfAMonthOfAYear(month, year)[$(this).val()-1]));
        //- $("#calendar-test").html(JSON.stringify(getWeeksOfAMonthOfAYear(month, year)[$(this).val()-1])); 
        var week = getWeeksOfAMonthOfAYear(month, year)[$(this).val()-1];
        loadWeekCalendar(year, month, week);
      });     

      $("#my_calendar").on("click", "td", function(e){
        //- alert("click");
      });

      $("#my_calendar").on("click", ".addSpaceForAppointmentButton", function(e){
        console.log($(this).attr("year"));
        console.log($(this).attr("month"));
        console.log($(this).attr("day"));
        console.log($(this).attr("hour"));
        console.log($(this).attr("minutes"));
        var year = parseInt($(this).attr("year"));
        var month = parseInt($(this).attr("month"));
        var day = parseInt($(this).attr("day"));
        var hour = parseFloat($(this).attr("hour"));
        var minutes = parseFloat($(this).attr("minutes"));
        $.ajax({
          url: "/api/v1/doctors/me/spaceDateForAppointment",
          type: "POST",
          headers: {
            "accessToken": localStorage.accessToken
          },
          data:{
            "date":{
              "year": year,
              "month": month,
              "day": day
            },
            "time":{
            "start": (hour+ (minutes/100))  }
          },
          success: function(data){
            console.log(data);
            var week = getWeeksOfAMonthOfAYear($("select#month").val(), $("select#year").val())[$("select#weeks").val()-1];
            loadWeekCalendar($("select#year").val(), $("select#month").val(), week);
            socket.emit('calendarUpdated');
          }
        });
      });

      function getDoctorAccountInformationSuccess(data){
        var doctorAI = {};
        doctorAI = data.doctorAccountInformation;
        $("#username_h2").html("Doctor: "+doctorAI.username);
      }

      function getDoctorAccountInformation (){
        $.ajax({
          url:"/api/v1/doctors/me/account_information",
          headers: {
            "accessToken": localStorage.accessToken
          },
          success: getDoctorAccountInformationSuccess
        });
      }
      
      function logoutDoctorSuccess(data, textStatus, jqXHR){
        console.log(data);
        if(data){
          if(data.error){
            console.log(error);
          }else{
            localStorage.removeItem("accessToken");
            localStorage.removeItem("refreshToken");
            localStorage.removeItem("tokenType");
            localStorage.removeItem("expirationDate");
            window.location.replace("/");
          }
        }
      }
      
      $("#logout_doctor").on('click', function(e){
        e.preventDefault();
        $.ajax({
          type: "DELETE",
          url:"/login/doctors",
          headers: {
            "csrfToken": $("#csrf_input").val()
          },
          success: logoutDoctorSuccess
        });
      }); // End of logout doctor on click event

      //- $("#personal_information_link").on("click", function(e){
      //-   e.preventDefault();
      //-   window.location.replace("/"+doctorAI.username+"/personal_information");
      //- });

      $("#verify_identification_button").on("click", function(e){
        e.preventDefault();
        console.log("click click click");
        console.log($("#identification").val());
        e.preventDefault();
        $.ajax({
          type: "GET",
          url:"/secretary/verify/"+$("#identification").val(),
          headers: {
            "csrfToken": $("#csrf_input").val()
          },
          success: function(data){
            console.log(data);
            console.log(data.registrado);
            if(data.registrado == "no"){
              alert("Usuario no registrado en la secretaria");
              $("#datos_de_secretaria").html("<h3>Datos obtenido de la secretaria</h3>"+JSON.stringify(data));
            }else if(data.registrado == "si"){
              $("#datos_de_secretaria").html("<h3>Datos obtenido de la secretaria</h3>"+JSON.stringify(data));
              alert("El usuario esta registrado, se procedera a guardar los datos provenietes de la secretaria de salud");
            }else{
              alert("hubo un error xp");
            }
          }
        });
      });
      console.log(localStorage)
      getDoctorAccountInformation();


    }); // End of document on ready event