extends layout

block content
  h2
    a(href="/login/doctors") Iniciar Sesion como doctor
  h2
    a(href="/signup/doctors") Registrarse como doctor
  h2
    a(href="/login/patients") Iniciar Sesion como paciente
  h2
    a(href="/signup/patients") Registrarse como paciente

block js
  script.
    $(document).on("ready", function(){
      console.log(localStorage);
      //- var req = new XMLHttpRequest();
      //- req.open('GET', document.location, false);
      //- req.send(null);
      //- var headers = req.getAllResponseHeaders().toLowerCase();
      //- alert(headers);
      //- alert("documento listo");
      
    });