extends layout

block css
  link(rel="stylesheet", href='/stylesheets/less/home/general.css')

block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') CONSULTING
  #bs-example-navbar-collapse-1.navbar-collapse.collapse
    ul.nav.navbar-nav
      li.active
        a() 
          i.fa.fa-home
          |  Inicio
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-search
          |   Consultar
          b.caret
        ul.dropdown-menu
          li
            a(href="/search/doctors")
              i.fa.fa-user-md
              |  Médicos en el directorio
          li
            a(href="/search/Idoneidad")
              i.fa.fa-ambulance
              |  Idoneidad médica
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-pencil-square
          |   Registrarse
          b.caret
        ul.dropdown-menu
          li
            a(href="/signup/doctors")
              i.fa.fa-user-md
              |   Médico
          li
            a(href="/signup/patients") 
              i.fa.fa-user
              |  Paciente
      li
        a(href="/login")
          i.fa.fa-sign-in
          |  Iniciar Sesión

block content
  .container.general-content
    .row
      .col-lg-8
        .page-header.title-header
          h1 Bienvenido a Consulting
        p.info-consulting
          |El Directorio Médico Consulting, un sitio web con visión de negocio, que ofrece a los profesionales independientes de la salud, la posibilidad de registrarse y crear un perfil web, Consulting proveerá un mecanismo de búsqueda de servicios médicos a la ciudadanía, asegurándoles que el profesional de la salud cuente con el respectivo registro ante La Secretaria De Salud Departamental.
          br
          br
          |Provee a los profesionales de la salud el servicio de citas médicas, y ofrece a la ciudadanía una consulta para  verificar el registro  de profesionales de la salud, ante La Secretaría de Salud Departamental, en el departamento de Córdoba..
          br
          br
        
      .col-lg-4
        .page-header.title-header
          h1 Doctores
        img(src="images/doctora.png", class="img-title", alt="")


block js
  script.
    $(document).on("ready", function(){
      console.log(localStorage);
  