doctype html
html
  head
    title Directorio Medico
    link(rel='stylesheet', href='/stylesheets/style.css')
    block css
    block js_up
  body
    block content

    script(src="/javascripts/jquery-2.1.0.min.js")
    block js