extends layout

block css
  link(rel="stylesheet", href='/stylesheets/less/calendar/calendar_patient.css')


block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') CONSULTING
  #bs-example-navbar-collapse-1.navbar-collapse.collapse
    ul.nav.navbar-nav
      li.active
        a() 
          i.fa.fa-bars
          |  Inicio
      li
        a(href="/me/patient_information")
          i.fa.fa-info-circle
          |  Mi informacion
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-code-fork
          |   Operaciones
          b.caret
        ul.dropdown-menu
          li
            a(href="/search/doctors/patients")
              i.fa.fa-star
              |   Tomar citas medicas
          li
            a(href="/search/doctors/idoneidad")
              i.fa.fa-star
              |  Consulta de idoneidad medica
      li
        a#logout_patient(href="#")
          i.fa.fa-sign-out
          |  Cerrar session
block content
  .container
    input#csrf_input(type="hidden", value="#{data.csrf}")
    .row
      .col-xs-12
        table#appointments.table
          caption#appointments_caption Mis citas   
          thead#appointments_thead
            tr
              th Clinica
              th Direccion
              th Doctor
              th Profesion
              th Fecha
              th Hora
              th Descripcion
          tbody#appointments_tbody

block js
  script.
    //- socket.emit('connect', { data: 'patient' });
    $(document).on('ready', function(){
      $.ajax({
        url:"/api/v1/patients/me/appointments",
        headers: {
          "accessToken": localStorage.accessToken
        },
        success: function(data){
          console.log(data);
          if(data != null){
            var str = "";
            var clinic;
            var address;
            var doctor;
            var profession;
            var date;
            var hour;
            var description;
            for(var i=0; i < data.length; i++){
              //- str += data[i];
              clinic = data[i].doctor.pri.jobInformation.clinic.name;
              address = data[i].doctor.pri.jobInformation.clinic.location.address;
              doctor = data[i].doctor.pei.names + " " + data[i].doctor.pei.lastnames.first + " " + data[i].doctor.pei.lastnames.second;
              profession = data[i].doctor.pri.professionalType.type
              date = data[i].date.day+"/"+data[i].date.month+"/"+data[i].date.year;
              hour = data[i].time.start;
              if(hour%1 != 0){
                hour = hour - 0.3 + ":30"; 
              }else{
                  hour = hour + ":00"; 
              }
              description = data[i].description;
              str += "<tr>";
              str += "<td>"+clinic+"</td>";
              str += "<td>"+address+"</td>";
              str += "<td>"+doctor+"</td>";
              str += "<td>"+profession+"</td>";
              str += "<td>"+date+"</td>";
              str += "<td>"+hour+"</td>";
              str += "<td>"+description+"</td>";
              str += "</tr>";

              console.log(clinic+"<--->"+doctor+"<--->"+date+"<--->"+hour+"<--->"+description);
            }
            $("#appointments_tbody").html(str);
          }
        }
      });

      function logoutDoctorSuccess(data, textStatus, jqXHR){
          console.log(data);
          if(data){
            if(data.error){
              console.log(error);
            }else{
              localStorage.removeItem("accessToken");
              localStorage.removeItem("refreshToken");
              localStorage.removeItem("tokenType");
              localStorage.removeItem("expirationDate");
              window.location.replace("/");
            }
          }
        }

        function getPatientAccountInformationSuccess(data){
          var patientAI = {};
          patientAI = data.patientAccountInformation;
          $("#username_h2").html("Bienvenido Paciente: "+patientAI.username);
        }

        function getPatientAccountInformation (){
          $.ajax({
            url:"/api/v1/patients/me/account_information",
            headers: {
              "accessToken": localStorage.accessToken
            },
            success: getPatientAccountInformationSuccess
          });
        }

        $("#logout_patient").on('click', function(e){
          e.preventDefault();
          $.ajax({
            type: "DELETE",
            url:"/login/patients",
            headers: {
              "csrfToken": $("#csrf_input").val()
            },
            success: logoutDoctorSuccess
          });
        }); // End of logout doctor on click event
        getPatientAccountInformation ();
    });