extends layout

block css
  link(rel="stylesheet", href='/stylesheets/less/home/general.css')
  link(rel="stylesheet", href='/stylesheets/less/information/information.css')

block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') CONSULTING
  #bs-example-navbar-collapse-1.navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        a(href="/") 
          i.fa.fa-bars
          |  Inicio
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-info-circle
          |   Mi informacion
          b.caret
        ul.dropdown-menu
          li.active
            a()
              i.fa.fa-star
              |   Personal
          li
            a(href="/me/professional_information")
              i.fa.fa-star
              |  Profesional
          li
            a(href="/me/titles_information")
              i.fa.fa-star
              |  Titulos
          li
            a(href="/me/register_end")
              i.fa.fa-star
              |  finalizar registro
      li
        a(href="/doctors/imagen/perfil")
          i.fa.fa-picture-o
          |  Imagen de perfil
      li
        a#logout_doctor(href="#")
          i.fa.fa-sign-out
          |  Cerrar session
    a.navbar-brand.navbar-right#username_h2 Doctor:


block content
  .container.general-content
    .row
      .col-lg-12
        .page-header.title-header
          h1 Información Personal
      .col-lg-9
        form#perosnal_information_form
          input#csrf_input(type="hidden", value="#{data.csrf}")
          table.table
            #alert_guardado.alert-success
              span Usuario se guardo con exito
            #alert_no_guardado.alert-danger
              span Usuario no se guardo con exito error al enviar los datos
            .form-group
              tr
                td
                  label(for="first_name_input" , class="control-label") Nombres:
                td
                  input(type="text", id="first_name_input", class="form-control", placeholder="Primer nombre", required)
                td
                  label(for="first_lastname_input", class="control-label") Primer apellido: 
                td
                  input(type="text", id="first_lastname_input", class="form-control" , placeholder="Primer apellido", required)
            .form-group
              tr
                td
                  label(for="second_lastname_input", class="control-label") Segundo apellido: 
                td
                  input(type="text", id="second_lastname_input", class="form-control" , placeholder="Segundo apellido", required)
                td
                  label(for="nationality_input", class="control-label") Nacionalidad:
                td
                  select(id="nationality_select", class="form-control" )
                    option(value="colombiano") Colombiano
                    option(value="extranjero") Extranjero
                    option(value="nacionalizado") Nacionalizado
            .form-group
              tr
                td
                  label(for="identification_type_select", class="control-label") Tipo de identification:
                td
                  select(id="identification_type_select", class="form-control" )
                    option(value="cc") Cedula de ciudadania
                    option(value="ti") Tarjeta de identidad
                    option(value="pasaporte") Pasaporte
                td
                  label(for="identification_number_input", class="control-label") Numero de identificacion: 
                td
                  input(type="text", id="identification_number_input", class="form-control" , placeholder="Numero de identificacion", required)
            .form-group
              tr
                td
                  label(for="sex_select", class="control-label") Sexo:
                td
                  select(id="sex_select", class="form-control" )
                    option(value="masculino") Masculino
                    option(value="femenino") Femenino
                td
                  label(for="birthdate_input", class="control-label") Fecha de nacimiento
                td
                  input(type="date", id="birthdate_input", class="form-control" , placeholder="Fecha de nacimiento", required)
            .form-group
              tr
                td
                  label(for="home_city_input", class="control-label") Ciudad de residencia:
                td
                  input(type="text", id="home_city_input", class="form-control" , placeholder="Ciudad de residencia", required)
                td
                  label(for="home_address_input", class="control-label") Direccion de residencia:
                td
                  input(type="text", id="home_address_input", class="form-control" , placeholder="Direccion de residencia:", required)
            .form-group
              tr
                td
                  label(for="mobile_input", class="control-label") Numero de celular: 
                td
                  input(type="text", id="mobile_input", class="form-control" , placeholder="Celular", required)
                td
                  label(for="landline_input", class="control-label") Numero de telefono fijo: 
                td
                  input(type="text", id="landline_input", class="form-control" , placeholder="Fijo", required)
            .form-group
              tr
                td
                td
                  button.btn.btn-primary.col-lg-12(type="submit", id="button_save_personal_information_form") Guardar
                td
                   button.btn.btn-default.col-lg-12(type="reset") Borrar
                td
      .col-lg-3
        img(src="/images/personal.png", alt="", style="width:100%;")



block js
  script.
    $(document).on("ready", function(){
      function logoutDoctorSuccess(data, textStatus, jqXHR){
        console.log(data);
        if(data){
          if(data.error){
            console.log(error);
          }else{
            localStorage.removeItem("accessToken");
            localStorage.removeItem("refreshToken");
            localStorage.removeItem("tokenType");
            localStorage.removeItem("expirationDate");
            window.location.replace("/");
          }
        }
      }
      
      $("#logout_doctor").on('click', function(e){
        e.preventDefault();
        $.ajax({
          type: "DELETE",
          url:"/login/doctors",
          headers: {
            "csrfToken": $("#csrf_input").val()
          },
          success: logoutDoctorSuccess
        });
      }); // End of logout doctor on click event

      $("#button_save_personal_information_form").on("click", function(e) {
        console.log($(this).html());
        var requestType = "POST";
        if($(this).html() == "Actualizar"){
          console.log("Si es Actualizar");
          requestType = "PUT";
        }
        var firstName = $("#first_name_input").val();
        var firstLastname = $("#first_lastname_input").val();
        var secondLastname = $("#second_lastname_input").val();
        var identificationType = $("#identification_type_select").val();
        var identificationNumber = $("#identification_number_input").val();
        var birthdate = $("#birthdate_input").val();
        var sex = $("#sex_select").val();
        var homeCity = $("#home_city_input").val();
        var homeAddress = $("#home_address_input").val();
        var mobile = $("#mobile_input").val();
        var landline = $("#landline_input").val();
        var nationality = $("#nationality_select").val();
        console.log("Datos:",firstName,firstLastname,secondLastname,identificationType,identificationNumber, birthdate, sex, homeCity, homeAddress, mobile, landline, nationality);
        if(firstName != "" && firstLastname != "" && secondLastname != "" && identificationType != "" && identificationNumber != "" && birthdate != "" && sex != "" && homeCity != "" && homeAddress != "" && mobile != "" &&  landline != "" && nationality != ""){
          console.log("se pasaron todos los datos");
          e.preventDefault();
          var personalInformation = {
            "identification": {
              "type" : identificationType,
              "number" : identificationNumber
            },
            "names" : firstName,
            "lastnames" : {
              "first" : firstLastname,
              "second" : secondLastname
            },
            "sex": sex,
            "birthdate": birthdate,
            "contactData":{
              "home" : {
                "city": homeCity,
                "address": homeAddress
              },
              "phone":{
                "mobile" : mobile,
                "home": landline
              }
            },
            "nationality": nationality
          }
          //- console.log(personalInformation);
          $.ajax({
            type: requestType,
            url:"/api/v1/doctors/me/personal_information?errors=verbose",
            headers: {
              "accessToken": localStorage.accessToken
            },
            data:{
              personalInformation: personalInformation
            },
            success: function(data){
              console.log(data.error);
              if(data.error==null){
                $('#alert_no_guardado').css('display', 'none');
                $('#alert_guardado').css('display', 'block');
              }else{
                $('#alert_guardado').css('display', 'none');
                $('#alert_no_guardado').css('display', 'block');
              }
            }
          });
        }else{
          console.log("No se pasaron todos los datos")
        }
      });

      function getDoctorPersonalInformation(){
        $.ajax({
          url:"/api/v1/doctors/me/personal_information",
          headers: {
            "accessToken": localStorage.accessToken
          },
          success: function(data){
            console.log(data);
            if(data.doctorPersonalInformation){
              var cumple = new Date(data.doctorPersonalInformation.birthdate);
              var day = ("0" + cumple.getDate()).slice(-2);
              var month = ("0" + (cumple.getMonth() + 1)).slice(-2);
              var fechaCumple = cumple.getFullYear()+"-"+(month)+"-"+(day) ;
              //- console.log(data.doctorPersonalInformation);
              $("#first_name_input").val(data.doctorPersonalInformation.names);
              $("#first_lastname_input").val(data.doctorPersonalInformation.lastnames.first);
              $("#second_lastname_input").val(data.doctorPersonalInformation.lastnames.second);
              $("#identification_type_select option").filter(function (){
                  return $(this).val()==data.doctorPersonalInformation.identification.type;
                }).prop('selected', true);
              $("#sex_select option").filter(function (){
                  return $(this).val()==data.doctorPersonalInformation.sex;
                }).prop('selected', true);
              $("#identification_number_input").val(data.doctorPersonalInformation.identification.number);
              $("#birthdate_input").val(fechaCumple);
              $("#home_city_input").val(data.doctorPersonalInformation.contactData.home.city);
              $("#home_address_input").val(data.doctorPersonalInformation.contactData.home.address);
              $("#mobile_input").val(data.doctorPersonalInformation.contactData.phone.mobile);
              $("#landline_input").val(data.doctorPersonalInformation.contactData.phone.home);
              $("#button_save_personal_information_form").html("Actualizar");
            }else if(localStorage.medico!=undefined){
                var obj = JSON.parse(localStorage.medico);
                if(obj.registrado=='si'){
                  var personal=obj.infoPersonal;
                  var cumple = new Date(personal.fechaNac);
                  var day = ("0" + (cumple.getDate()+1)).slice(-2);
                  var month = ("0" + (cumple.getMonth() + 1)).slice(-2);
                  var fechaCumple = cumple.getFullYear()+"-"+(month)+"-"+(day) ;
                  $("#first_name_input").val(personal.nombre);
                  $("#first_lastname_input").val(personal.apellido.primero);
                  $("#second_lastname_input").val(personal.apellido.segundo);
                  $("#identification_type_select option").filter(function (){
                      return $(this).val()=='cc';
                    }).prop('selected', true);
                  if(personal.sexo=='m'){
                    $("#sex_select option").filter(function (){
                        return $(this).val()=='masculino';
                      }).prop('selected', true);
                  }else{
                    $("#sex_select option").filter(function (){
                        return $(this).val()=='femenino';
                      }).prop('selected', true);
                  }
                  $("#identification_number_input").val(personal.cedula);
                  $("#birthdate_input").val(fechaCumple);
                }
            }else{
              console.log("No se ha guardado aun informacion personal de este doctor");
            }
            //- if (data.userdataDoctor){
            //-   console.log(data.userdataDoctor):
            //- }
          }
        });
      }
        function getDoctorAccountInformationSuccess(data){
        var doctorAI = {};
        doctorAI = data.doctorAccountInformation;
        $("#username_h1").html(" Informacion Personal, Doctor: "+doctorAI.username);
      }


      function getDoctorAccountInformationSuccess(data){
          var doctorAI = {};
          doctorAI = data.doctorAccountInformation;
          $("#username_h2").html("Doctor: "+doctorAI.username);
        }

        function getDoctorAccountInformation (){
          $.ajax({
            url:"/api/v1/doctors/me/account_information",
            headers: {
              "accessToken": localStorage.accessToken
            },
            success: getDoctorAccountInformationSuccess
          });
        }
        getDoctorAccountInformation();

      getDoctorPersonalInformation();
    }); // End of document on ready event