extends layout

block css
  link(rel="stylesheet", href='/stylesheets/less/home/general.css')

block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') CONSULTING
  #bs-example-navbar-collapse-1.navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        a(href="/") 
          i.fa.fa-bars
          |  Dashboard
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-info-circle
          |   Mi informacion
          b.caret
        ul.dropdown-menu
          li
            a(href="/me/personal_information")
              i.fa.fa-star
              |   Personal
          li
            a(href="/me/professional_information")
              i.fa.fa-star
              |  Profesional
          li
            a(herf="/me/titles_information")
              i.fa.fa-star
              |  Titulos
          li.active
            a()
              i.fa.fa-star
              |  finalizar registro
      li
        a#logout_doctor(href="#")
          i.fa.fa-sign-out
          |  Cerrar session

block content
  .container.general-content
    .row
      .col-lg-12
        .page-header.title-header
          h2#username_h2 Informacion general del doctor:
      .col-lg-12
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne") Informacion personal
            #collapseOne.panel-collapse.collapse.in
              .panel-body
                table.table
                  tr
                    td
                      p#inf_nombres Nombres: Jerson
                    td
                      p#inf_apellido_primero Primer apellido: Betin
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse" data-parent="#accordion" href="#collapsetwo") Informacion profesional
             #collapsetwo.panel-collapse.collapse.in
              .panel-body
                | Lorem ipsum Amet amet sit enim sit dolore commodo elit do velit anim cupidatat qui in dolor sit dolor ea pariatur commodo.
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse" data-parent="#accordion" href="#collapsethree") Informacion titulos
            #collapsethree.panel-collapse.collapse.in
              .panel-body
                | Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad. Richard McClintock, un profesor de Latin de la Universidad de Hampden-Sydney en Virginia, encontró una de las palabras más oscuras de la lengua del latín, "consecteur", en un pasaje de Lorem Ipsum, y al seguir leyendo distintos textos del latín, descubrió la fuente indudable. Lorem Ipsum viene de las secciones 1.10.32 y 1.10.33 de "de Finnibus Bonorum 

block js
  script.
    $(document).on('ready', function(){
        $('.collapse').collapse();
        var doctorAI = {};
        function getDoctorAccountInformationSuccess(data){
              doctorAI = data.doctorAccountInformation;
              $("#username_h2").html("Informacion general del doctor: "+(doctorAI.username).toUpperCase());
          }

        $(function getDoctorAccountInformation (){
            $.ajax({
              url:"/api/v1/doctors/me/all_information",
              headers: {
                "accessToken": localStorage.accessToken
              },
              success: function (data){
                getDoctorAccountInformationSuccess(data.information[1]);
              }
            });
          });

        function logoutDoctorSuccess(data, textStatus, jqXHR){
          console.log(data);
          if(data){
            if(data.error){
              console.log(error);
            }else{
              localStorage.removeItem("accessToken");
              localStorage.removeItem("refreshToken");
              localStorage.removeItem("tokenType");
              localStorage.removeItem("expirationDate");
              window.location.replace("/");
            }
          }
        }

        $("#logout_doctor").on('click', function(e){
          e.preventDefault();
          $.ajax({
            type: "DELETE",
            url:"/login/doctors",
            headers: {
              "csrfToken": $("#csrf_input").val()
            },
            success: logoutDoctorSuccess
          });
        }); // End of logout doctor on click event
      });