extends layout

block css
  link(rel="stylesheet", href='/stylesheets/less/home/general.css')
  link(rel="stylesheet", href='/stylesheets/less/search/search.css')

block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') CONSULTING
  #bs-example-navbar-collapse-1.navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        a(href="/") 
          i.fa.fa-home
          |  Inicio
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-search
          |   Consultar
          b.caret
        ul.dropdown-menu
          li
            a(href="/search/doctors")
              i.fa.fa-user-md
              |  Médicos en el directorio
          li.active
            a()
              i.fa.fa-ambulance
              |  Idoneidad médica
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-pencil-square
          |   Registrarse
          b.caret
        ul.dropdown-menu
          li
            a(href="/signup/doctors")
              i.fa.fa-user-md
              |   Médico
          li
            a(href="/signup/patients") 
              i.fa.fa-user
              |  Paciente
      li
        a(href="/login")
          i.fa.fa-sign-in
          |  Iniciar Sesión

block content
  .container.general-content
    .row
      .col-lg-12
        .page-header.title-header
          h1 Busqueda de idoneidad de médicos en Córdoba
      .col-lg-4.board-search
        h4
          center Datos del médico
        .board-single
          .form-group
            label.control-label(for="identificacion") Identificación: 
            input.form-control#identificacion(type="text", placeholder="Identificación del doctor")
            label.control-label(for="lastnames") Apellido: 
            input.form-control#lastnames(type="text", placeholder="Apellido del doctor")
          .form-group
          .form-group
            button.btn.btn-info.form-control#button_search BUSQUEDA


      .col-lg-8.board-view-search
        table.table.table-hover.table-search
          thead
            tr
              th Identificación
              th Nombre
              th Tipo de profesional
          tbody#result_search

block js
  script.
    $(document).on('ready', function(){
        $('#button_search').on('click', function(){
            var lastnames=$('#lastnames').val();
            var identification=$('#identificacion').val();
            var criterio='apellido='+lastnames+'&identificacion='+identification;
            alert("Se Verificaran los datos en Secretaria de Salud Departamental");
            $.ajax({
                method:'get',
                dataType: 'json',
                url:'http://secretariadesalud-cordoba.herokuapp.com/medicos/idoneidad?'+criterio,
                success:function(dato){
                  console.log(data);
                  var data=dato.medicos;
                  if(data.length!=0){
                    var table='';
                      for(var i=0; i<data.length; i++){
                          table+='<tr><td>'+data[i].identificacion+'</td><td>'+data[i].nombre+' '+data[i].apellido.primero+' '+data[i].apellido.segundo+'</td><td>'+data[i].tipoProfesional+'</td></tr>';
                      }
                      document.getElementById('result_search').innerHTML=table;
                  }else{
                      var content="<tr><td colspan='4'><center class='center'>No exiten registros</center></td></tr>";
                      document.getElementById('result_search').innerHTML=content;
                  }
                },
                processData:function(){
                  document.getElementById('result_search').innerHTML='esperando...';
                }
              });
          });
      });