extends layout

block css
  link(rel="stylesheet", href='/stylesheets/less/home/general.css')


block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') CONSULTING
  #bs-example-navbar-collapse-1.navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        a(href="/")
          i.fa.fa-home
          |  Inicio
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-search
          |   Consultar
          b.caret
        ul.dropdown-menu
          li
            a(href="/search/doctors")
              i.fa.fa-user-md
              |  Médicos en el directorio
          li
            a(href="/search/Idoneidad")
              i.fa.fa-ambulance
              |  Idoneidad médica
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown")
          i.fa.fa-pencil-square
          |   Registrarse
          b.caret
        ul.dropdown-menu
          li
            a(href="/signup/doctors")
              i.fa.fa-user-md
              |   Médico
          li.active
            a()
              i.fa.fa-user
              |  Paciente
      li
        a(href="/login")
          i.fa.fa-sign-in
          |  Iniciar Sesión

block content
  .container.general-content
    .row
      .col-lg-12
        .page-header.title-header
          h1 Registro de pacientes
      .col-lg-8
        p.info-consulting
          |Le invitamos a registrarse como usuario de los servicios del directorio Médico Consulting – Córdoba.
          br
          br
          |Consulte profesionales prestadores de salud independientes  en el directorio.
          br
          br
          |Verifique sí un profesional de la salud que labore en el Departamento de Córdoba, cumple con el registro ante Secretaria de Salud Departamental.
          br
          br
          |Solicite sus citas médicas.
          br
          br
          |El Directorio Médico Consulting, un sitio web con visión de negocio, que ofrece a los profesionales independientes de la salud, la posibilidad de registrarse y crear un perfil web, Consulting proveerá un mecanismo de búsqueda de servicios médicos a la ciudadanía, asegurándoles que el profesional de la salud cuente con el respectivo registro ante La Secretaria De Salud Departamental.
      .col-lg-4
        input#csrf_input(type="hidden", value="#{data.csrf}")
        form#signup_doctors_form.form-horizontal.form-externos
          fieldset
            .form-group
              #email-registrado.alert-danger.alertas
                p Este email ya esta registrado, por favor ingrese otro
              #user-registrado.alert-danger.alertas
                p Este username ya esta registrado, por favor ingrese otro
            .form-group
              label(for="patient_email", class="col-lg-3 control-label") Email:
              .col-lg-9
                input#patient_email(type="email", class="form-control", placeholder="Email", required)
            .form-group
              label(for="patient_username", class="col-lg-3 control-label") Usuario:
              .col-lg-9
                input#patient_username(type="text", class="form-control", placeholder="Nombre de usuario", required)
            .form-group
              label(for="patient_password", class="col-lg-3 control-label") Contraseña:
              .col-lg-9
                input#patient_password(type="password", class="form-control", placeholder="Contraseña", required)
            .form-group
              .col-lg-10.col-lg-offset-2
                button#signup_patient_form_button(type="submit", class="btn btn-primary col-lg-5") Registrar
                button(type="reset", class="btn btn-default col-lg-5") Borrar


block js
  script.
    $(document).on("ready", function(){
      //- alert("documento listo");
      function signupPatientSuccess(data, textStatus, jqXHR){
        console.log(data);
        if(data){
          if(data.error){
            if(data.error.error=="EmailAlreadyExist"){
              alert("Este email ya esta registrado, por favor ingrese otro");
            }else if(data.error.error=="UsernameAlreadyExist"){
              alert("Este usuario ya esta registrado, por favor ingrese otro");
            }
          }else if(data.patientAccountInformation){
            alert("Ha Creado una cuenta de usuario como paciente, por favor inicie sesión");
            window.location.replace("/");
          }
        }
        };

      $("#signup_patient_form_button").on('click', function(e){
        var email = $("#patient_email").val();
        var username = $("#patient_username").val();
        var password = $("#patient_password").val();
        if(email != "" && username != "" && password != ""){
          e.preventDefault();
          $.ajax({
            type: "POST",
            url:"/signup/patients",
            headers: {
              "csrfToken": $("#csrf_input").val()
            },
            data:{
              email: email,
              username: username,
              password: password
            },
            success: signupPatientSuccess
            });
          }
        }); // End of signup doctor form button on click event

      }); // End of document on ready event