extends layout

block css
  link(rel="stylesheet", href='/stylesheets/less/home/general.css')


block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') CONSULTING
  #bs-example-navbar-collapse-1.navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        a(href="/")
          i.fa.fa-home
          |  Inicio
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-search
          |   Consultar
          b.caret
        ul.dropdown-menu
          li
            a(href="/search/doctors")
              i.fa.fa-user-md
              |  Médicos en el directorio
          li
            a(href="/search/Idoneidad")
              i.fa.fa-ambulance
              |  Idoneidad médica
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown")
          i.fa.fa-pencil-square
          |   Registrarse
          b.caret
        ul.dropdown-menu
          li.active
            a()
              i.fa.fa-user-md
              |   Médico
          li
            a(href="/signup/patients")
              i.fa.fa-user
              |  Paciente
      li
        a(href="/login")
          i.fa.fa-sign-in
          |  Iniciar Sesión

block content
  .container.general-content
    .row
      .col-lg-12
        .page-header.title-header
          h1 Bienvenido a Consulting
      .col-lg-8
        p.info-consulting
          |Invitamos a los profesionales de la salud del departamento de córdoba, a ser parte de nuestro directorio médico.
          br
          br
          |Realice su registro en línea ante Secretaria de Salud Departamental.
          br
          br
          |Programe sus citas médicas.
          br
          br
          |El Directorio Médico Consulting, un sitio web con visión de negocio, que ofrece a los profesionales independientes de la salud, la posibilidad de registrarse y crear un perfil web, Consulting proveerá un mecanismo de búsqueda de servicios médicos a la ciudadanía, asegurándoles que el profesional de la salud cuente con el respectivo registro ante La Secretaria De Salud Departamental.
          br
          br
          
      .col-lg-4
        input#csrf_input(type="hidden", value="#{data.csrf}")
        form#signup_doctors_form.form-horizontal.form-externos
          fieldset
            .form-group
              #email-registrado.alert-danger.alertas
                p Este email ya esta registrado, por favor ingrese otro
              #user-registrado.alert-danger.alertas
                p Este username ya esta registrado, por favor ingrese otro
            .form-group
              label(for="doctor_email", class="col-lg-3 control-label") Email:
              .col-lg-9
                input(type="email", class="form-control", id="doctor_email", placeholder="Ingrese su email", required)
            .form-group
              label(for="doctor_username", class="col-lg-3 control-label") Usuario:
              .col-lg-9
                input(type="text", class="form-control", id="doctor_username", placeholder="Ingrese usuario", required)
            .form-group
              label(for="doctor_password", class="col-lg-3 control-label") Contraseña:
              .col-lg-9
                input(type="password", class="form-control", id="doctor_password", placeholder="Ingrese su contraseña", required)
            .form-group
              .col-lg-10.col-lg-offset-2
                button#signup_doctor_form_button(type="submit", class="btn btn-primary col-lg-5") Registrar
                button(type="reset", class="btn btn-default col-lg-5") Borrar

block js
  script.
    $(document).on("ready", function(){
      //- alert("documento listo");
        function signupDoctorSuccess(data, textStatus, jqXHR){
          console.log(data);
          if(data){
            if(data.error){
              if(data.error.error=="EmailAlreadyExist"){
                //alert("Este email ya esta registrado, por favor ingrese otro");
                $('#email-registrado').css('display', 'block');
                $('#user-registrado').css('display', 'none');
              }else if(data.error.error=="UsernameAlreadyExist"){
                //alert("Este username ya esta registrado, por favor ingrese otro");
                $('#email-registrado').css('display', 'none');
                $('#user-registrado').css('display', 'block');
              }
            }else if(data.doctorAccountInformation){
              alert("Ha Creado una cuenta de usuario como profesional de la salud, favor inicie sesión");
              window.location.replace("/");
            }
          }
        };

        $("#signup_doctor_form_button").on('click', function(e){

          //- alert("se activo");
          var email = $("#doctor_email").val();
          var username = $("#doctor_username").val();
          var password = $("#doctor_password").val();
          if(email != "" && username != "" && password != ""){
            e.preventDefault();
            //- alert(email+" "+username+" "+password+" ");
            $.ajax({
              type: "POST",
              url:"/signup/doctors",
              headers: {
                "csrfToken": $("#csrf_input").val()
              },
              data:{
                email: email,
                username: username,
                password: password
              },
              success: signupDoctorSuccess
            });
          }
        }); // End of signup doctor form button on click event
      }); // End of document on ready event