#bs-example-navbar-collapse-1 ul > li {
  text-transform: uppercase;
}
.general-content .col-lg-8 .info-consulting {
  text-align: justify;
}
.title-header {
  text-shadow: -2px -1px 0px #317eac;
}
.img-title {
  margin-left: 10%;
  width: 80%;
  height: 300px;
}
.panel-footer {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.form-externos {
  background: #f5f5f5;
  padding: 10% 4%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 2px 2px 8px lightgray;
}
.alertas {
  width: 90%;
  padding: 2% 5%;
  margin-left: 5%;
  display: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
}
.alertas p {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
