.half_hour_not_aparted{
    background: #afafaf;
    border: 1px solid #aaa;
    box-shadow:  0px 0p 5px #aaa;
}

.half_hour_aparted{
    background: #0faf0f;
    border: #0a0;
    box-shadow:  0px 0p 5px #0a0;
}

.half_hour_appointment{
    background: #af0f0f;
    border: #a00;
    box-shadow:  0px 0p 5px #a00;
    color: #fff;
}